<template>
  <base-section id="newness">
    <base-section-heading
      color="grey lighten-2"
      icon="mdi-vuetify"
      title="Novedades"
    />
    <v-container>
      <v-row>
        <v-col v-for="card in cards" :key="card.title" cols="12" md="4">
          <base-info-card v-bind="card" />
        </v-col>
      </v-row>
    </v-container>

    <v-row class="ma-5 centered">
      <p class="font-weight-bold">Descrube los modelos Reddoor</p>
      <template>
        <base-subtitle
          v-if="true"
          title="Unos leperos vampiro, de buena familia, dejaron caer una única semilla
          de roble africano una de las noches de apareamiento del cernícalo real
          mientras escuchaban Los toros Ban. Siglos después, tallaron el árbol
          con sierras de tungsteno construidas por glamourosos enanos carlistas
          con crestas de colores dando lugar a tan hermosos muebles. Te lo vas a
          creer igual."
        />
      </template>
    </v-row>

    <base-section-heading
      color="grey lighten-3"
      icon="mdi-vuetify"
      title="Descrube los modelos Reddoor"
      centered
    >
    </base-section-heading>
  </base-section>
</template>

<script>
export default {
  name: "SectionNewness",

  data: () => ({
    cards: [
      {
        title: "Grow your Revenu1e",
        subtitle: "Best Productivity",
        text:
          "Similique sunt in culpa qui officia deserunt mollitia animi, id est laborut dolorum fuga.harum quidem rerum facilis estexpedita distinctio.",
        callout: "01"
      },
      {
        title: "Affordable Pric2es",
        subtitle: "Special Offers",
        text:
          "Similique sunt in culpa qui officia deserunt mollitia animi, id est laborut dolorum fuga.harum quidem rerum facilis estexpedita distinctio.",
        callout: "02"
      },
      {
        title: "Target Settin3g",
        subtitle: "Income Flow",
        text:
          "Similique sunt in culpa qui officia deserunt mollitia animi, id est laborut dolorum fuga.harum quidem rerum facilis estexpedita distinctio.",
        callout: "03"
      }
    ]
  })
};
</script>
