<template>
    <v-theme-provider :dark="dark">
        <div>
            <base-info-card :title="title" pace="6">
                Parametrizar con FIREBASE
            </base-info-card>

            <base-business-contact dense />
        </div>
    </v-theme-provider>
</template>

<script>
export default {
    name: "BaseBusinessInfo",

    props: {
        dark: {
            type: Boolean,
            default: false
        },
        title: {
            type: String,
            default: "Contacta con nosotros"
        }
    }
};
</script>
