<template>
    <v-theme-provider :dark="dark">
        <div>
            <base-info-card
                :title="title"
                :subtitle="subtitle"
                space="4"
                color="primary"
            />

            <base-text-field label="Nombre" />

            <base-text-field label="Correo" />

            <base-text-field label="Asunto" />

            <base-textarea class="mb-6" label="¿En qué te podemos ayudar?" />

            <base-btn
                :color="!dark ? 'accent' : 'white'"
                href="mailto:info@infosurrd.com?subject=Solicitud%20de%20Información"
                outlined
                target="_blank"
            >
                Enviar solicitud
            </base-btn>
        </div>
    </v-theme-provider>
</template>

<script>
export default {
    name: "BaseContactForm",

    // Injected from the Vuetify Themeable mixin
    inject: ["theme"],

    props: {
        dark: {
            type: Boolean,
            default: false
        },
        subtitle: String,
        title: {
            type: String,
            default: "SIN PARAMETRIZAR"
        }
    }
};
</script>
