<template >
  <div>
    <v-app>
      <home-app-bar
        :transparencia="transparencia"
        :showFabButton="showFabButton"
      />

      <home-body />

      <home-footer />
    </v-app>
  </div>
</template>

<script>
const MAX_TRANSPARENCY = 0.8;

export default {
  name: "HomeLayout",
  components: {
    HomeAppBar: () => import("@/layouts/home/AppBar"),
    HomeBody: () => import("@/layouts/home/Body"),
    HomeFooter: () => import("@/layouts/home/Footer")
  },
  data: () => ({
    transparencia: 0,
    showFabButton: false
  }),

  methods: {
    handleScroll(e) {
      console.log(window.scrollY / window.innerHeight);

      this.showFabButton = window.scrollY / window.innerHeight > 0.7;
      this.transparencia = Math.min(
        MAX_TRANSPARENCY,
        MAX_TRANSPARENCY * (window.scrollY / window.innerHeight)
      );
    }
  },
  created() {
    if (process.client) {
      window.addEventListener("scroll", this.handleScroll);

      this.showFabButton = window.scrollY / window.innerHeight > 0.7;
      this.transparencia = Math.min(
        MAX_TRANSPARENCY,
        MAX_TRANSPARENCY * (window.scrollY / window.innerHeight)
      );
    }
  },
  destroyed() {
    if (process.client) {
      window.removeEventListener("scroll", this.handleScroll);
    }
  }
};
</script>
