<template>
  <base-section id="404">
    <base-heading title="404" />

    <base-subheading class="primary--text" title="¡Vaya!" />

    <base-subheading title="La página que intentas acceder no existe." />

    <base-img
      :src="require('@/assets/gif/error-404.gif')"
      class="mx-auto mb-12"
      contain
      width="600"
    />

    <div class="text-center">
      <NuxtLink to="/">
        <base-btn>
          Regresar al inicio
        </base-btn>
      </NuxtLink>
    </div>
  </base-section>
</template>

<script>
export default {
  name: "FourOhFour",

  provide: {
    heading: { align: "center" }
  }
};
</script>
