<template>
  <div>
    <v-app-bar
      app
      id="home-app-bar"
      class="hidden-sm-and-down"
      elevation="0"
      :color="`rgba(0,0,0,${transparencia})`"
    >
      <home-menu :menu="menu" />
    </v-app-bar>

    <Home-fab-menu :menu="menu" :show="showFabButton" />
  </div>
</template>

<script>
export default {
  name: "HomeAppBar",

  components: {
    HomeFabMenu: () => import("./FabMenu"),
    HomeMenu: () => import("./Menu")
  },
  props: {
    transparencia: {
      type: Number,
      default: 0
    },
    showFabButton: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      menu: [
        {
          title: "Inicio",
          goto: "#home",
          icon: "mdi-home",
          color: " blue"
        },
        {
          title: "Ofertas",
          goto: "#newness",
          icon: "mdi-fire",
          color: "red"
        },
        {
          title: "Quien soy",
          goto: "#personal-offert",
          icon: "mdi-handshake",
          color: "yellow"
        },
        {
          title: "Que ofrezco",
          goto: "#personal-offert",
          icon: "mdi-domain",
          color: "red"
        },
        {
          title: "Portafolío",
          goto: "#home",
          icon: "mdi-domain",
          color: "red"
        },
        {
          title: "Contáctame",
          goto: "#home",
          icon: "mdi-domain",
          color: "red"
        }
      ]
    };
  }
};
</script>

<style lang="sass" scoped>
.routerLink
  text-decoration: none

.home-app-bar
  display: inline
  .v-tabs-slider
    max-width: 24px
    margin: 0 auto

    .v-tab &before
      display: none
</style>
