<template>
  <div>
    <v-speed-dial
      fixed
      bottom
      right
      class="hidden-md-and-up"
      direction="left"
      v-model="isOpen"
      transition="slide-x-transition"
      v-show="show"
    >
      <template v-slot:activator>
        <v-btn v-model="isOpen" fab color="green darken-2" dark>
          <v-icon v-if="isOpen">mdi-close</v-icon>
          <v-icon v-else>mdi-format-list-bulleted-square</v-icon>
        </v-btn>
      </template>

      <v-btn
        fab
        dark
        x-small
        v-for="({ icon, color, goto }, idx) in getMenu"
        @click="$vuetify.goTo(goto)"
        @click.stop
        :key="idx"
        :color="color"
      >
        <v-icon>{{ icon }}</v-icon>
      </v-btn>
    </v-speed-dial>
  </div>
</template>

<script>
export default {
  name: "HomeFabMenu",

  data() {
    return {
      showDrawer: false,
      isOpen: false
    };
  },
  computed: {
    getMenu() {
      return this.menu.reverse();
    }
  },
  props: {
    menu: {
      type: Array,
      default: () => []
    },
    show: {
      type: Boolean,
      default: false
    }
  }
};
</script>
