<template>
    <v-footer id="home-footer" color="grey darken-4" dark min-height="72">
        <v-container>
            <v-row>
                <v-col cols="12" md="6">
                    <div
                        class="d-flex flex-wrap justify-md-start justify-center justify-md-none"
                    >
                        <template v-for="({ name, url }, i) in social">
                            <a
                                :key="name"
                                class="white--text pa-1 pa-md-0"
                                :href="url"
                                target="_blank"
                                v-text="name"
                            />

                            <v-responsive
                                v-if="i < social.length - 1"
                                :key="`divider-${name}`"
                                class="mx-4 shrink hidden-sm-and-down"
                                max-height="24"
                            >
                                <v-divider vertical />
                            </v-responsive>
                        </template>
                    </div>
                </v-col>

                <v-col class="text-center text-md-right" cols="12" md="6">
                    Copyright &copy; {{ new Date().getFullYear() }}
                </v-col>
            </v-row>
        </v-container>
    </v-footer>
</template>

<script>
export default {
    name: "HomeFooter",

    data: () => ({
        social: [
            {
                name: "Twitter",
                icon: "mdi-twitter",
                url: "https://twitter.com/InfosurRD"
            },
            {
                name: "Instagram",
                icon: "mdi-instagram",
                url: "https://www.instagram.com/infosurrd"
            },
            {
                name: "Escritor",
                icon: "mdi-alpha-g-circle",
                url: "https://twitter.com/SrAlcantaraRD"
            }
        ]
    })
};
</script>

<style lang="sass">
#home-footer a
  text-decoration: none
</style>
