<template>
  <v-tabs grow center-active>
    <v-tab
      v-for="({ title, goto }, idx) in menu"
      :key="idx"
      @click="$vuetify.goTo(goto)"
      class="white--text"
    >
      {{ title }}
    </v-tab>
  </v-tabs>
</template>

<script>
export default {
  name: "HomeMenu",

  props: {
    showDrawer: {
      type: Boolean,
      default: false
    },
    menu: {
      type: Array,
      default: () => []
    }
  }
};
</script>